{
  "openapi": "3.1.0",
  "info": {
    "title": "su-manager-api",
    "version": "1.0",
    "summary": "An API for the su-manager web-app",
    "description": "Provides all needed resources for the su-management system.",
    "contact": {
      "name": "Julius",
      "email": "juliush.dev@gmail.com"
    }
  },
  "servers": [
    {
      "url": "https://stoplight.io/mocks/jhdev/su-manager-api/27455283",
      "description": "su-manager-server"
    }
  ],
  "paths": {
    "/admins": {
      "get": {
        "summary": "Get all admins in the system",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 3,
                  "items": {
                    "$ref": "../models/Admin.yaml"
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "id": 1,
                        "information": {
                          "id": 1,
                          "scj-id": "0000000000000",
                          "first-name": "string",
                          "last-name": "string",
                          "email": "foo.bar@outlook.de",
                          "telegramnummer": "string",
                          "password": "pa$$word",
                          "user-type": {
                            "value": "admin"
                          },
                          "account-state": {
                            "value": "activ"
                          },
                          "created-at": "2021-10-10",
                          "updated-at": "2021-10-10"
                        }
                      }
                    ]
                  }
                }
              }
            },
            "headers": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {
                  "400": {
                    "$ref": "#/components/examples/error_400_bad_request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {
                  "401": {
                    "$ref": "#/components/examples/error_401_unauthorize"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {
                  "403": {
                    "$ref": "#/components/examples/error_403_forbidden"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {
                  "404": {
                    "$ref": "#/components/examples/error_404_not_found"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {
                  "500": {
                    "$ref": "#/components/examples/error_500_internal_server_error"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-admins"
      },
      "post": {
        "summary": "Create an admin",
        "tags": [
          "admin"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {
                  "400": {
                    "$ref": "#/components/examples/error_400_bad_request"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-admins",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Admin.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "information": {
                      "id": 1,
                      "scj-id": "0000000000000",
                      "first-name": "string",
                      "last-name": "string",
                      "email": "foo.bar@outlook.de",
                      "telegramnummer": "string",
                      "password": "pa$$word",
                      "user-type": {
                        "value": "admin"
                      },
                      "account-state": {
                        "value": "activ"
                      },
                      "created-at": "2021-10-10",
                      "updated-at": "2021-10-10"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins/{admin_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/admin_id"
        }
      ],
      "put": {
        "summary": "Update the profile of this admin.",
        "operationId": "put-admins-admin_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "updated": "admin",
                      "message": "Update completed",
                      "detailed_information": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Admin.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "information": {
                      "id": 1,
                      "scj-id": "0000000000000",
                      "first-name": "string",
                      "last-name": "string",
                      "email": "foo.bar@outlook.de",
                      "telegramnummer": "string",
                      "password": "pa$$word",
                      "user-type": {
                        "value": "admin"
                      },
                      "account-state": {
                        "value": "activ"
                      },
                      "created-at": "2021-10-10",
                      "updated-at": "2021-10-10"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete this admins profile from the system",
        "operationId": "delete-admins-admin_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "deleted": "admin",
                      "message": "Delete completed",
                      "detailed_information": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "admin_id"
                ]
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get this admin.",
        "operationId": "get-admins-admin_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Admin.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "information": {
                        "id": 1,
                        "scj-id": "0000000000000",
                        "first-name": "string",
                        "last-name": "string",
                        "email": "foo.bar@outlook.de",
                        "telegramnummer": "string",
                        "password": "pa$$word",
                        "user-type": {
                          "value": "admin"
                        },
                        "account-state": {
                          "value": "activ"
                        },
                        "created-at": "2021-10-10",
                        "updated-at": "2021-10-10"
                      }
                    }
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "admin_id"
                ]
              }
            }
          }
        }
      }
    },
    "/admins/{admin_id}/authorities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/admin_id"
        }
      ],
      "get": {
        "summary": "Get the list of authorities of this admin",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Authority.yaml"
                },
                "examples": {
                  "authorities": {
                    "value": {
                      "id": 1,
                      "type_assign_to": "admin",
                      "authorized_to": {
                        "delete-su": true,
                        "delete-admin": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-admins-admin_id-authorities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "admin_id"
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Give a list of authorities to this admin",
        "tags": [
          "admin"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "post-admins-admin_id-authorities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  },
                  "authorities": {
                    "$ref": "../models/Authority.yaml"
                  }
                },
                "required": [
                  "admin_id",
                  "authorities"
                ]
              },
              "examples": {
                "authorities": {
                  "value": {
                    "admin_id": 0,
                    "authorities": {
                      "id": 1,
                      "type_assign_to": "admin",
                      "authorized_to": {
                        "delete-su": true,
                        "delete-admin": false
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admins/{admin_id}/jyjns": {
      "parameters": [
        {
          "$ref": "#/components/parameters/admin_id"
        }
      ],
      "get": {
        "summary": "Get all the jyjns assigned to this admin",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 2,
                  "maxItems": 3,
                  "items": {
                    "$ref": "../models/Jyjn.yaml"
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 1,
                        "jy-id": 1,
                        "information": {
                          "id": 1,
                          "scj-id": "0000000000000",
                          "first-name": "foo",
                          "last-name": "bar",
                          "email": "foo.bar@outlook.de",
                          "telegramnummer": "string",
                          "password": "pa$$word",
                          "user-type": {
                            "value": "jyjn"
                          },
                          "account-state": {
                            "value": "activ"
                          },
                          "created-at": "2021-10-10",
                          "updated-at": "2021-10-10"
                        }
                      },
                      {
                        "id": 1,
                        "jy-id": 1,
                        "information": {
                          "id": 1,
                          "scj-id": "0000000000000",
                          "first-name": "foo",
                          "last-name": "bar",
                          "email": "foo.bar@outlook.de",
                          "telegramnummer": "string",
                          "password": "pa$$word",
                          "user-type": {
                            "value": "jyjn"
                          },
                          "account-state": {
                            "value": "activ"
                          },
                          "created-at": "2021-10-10",
                          "updated-at": "2021-10-10"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "get-admins-admin_id-jyjns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "admin_id"
                ]
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unassign all the jyjns assign to this admin from it",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "delete-admins-admin_id-jyjns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "admin_id"
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Assign a list of jyjns to this admin",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "post-admins-admin_id-jyjns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  },
                  "jyjns": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 5,
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "admin_id",
                  "jyjns"
                ]
              },
              "examples": {
                "jyjns": {
                  "value": {
                    "admin_id": 1,
                    "jyjns": [
                      1,
                      2
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Unassign a list of jyjn assigned to this admin from it",
        "tags": [
          "admin"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "put-admins-admin_id-jyjns",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "admin_id": {
                    "type": "integer"
                  },
                  "jyjns": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 4,
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "admin_id",
                  "jyjns"
                ]
              },
              "examples": {
                "jyjns": {
                  "value": {
                    "admin_id": 5,
                    "jyjns": [
                      1,
                      2,
                      4
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jyjns/{jyjn_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jyjn_id"
        }
      ],
      "get": {
        "summary": "Get the profile information of this jyjn",
        "tags": [
          "jyjn"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Jyjn.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "jy-id": 1,
                      "information": {
                        "id": 1,
                        "scj-id": "0000000000000",
                        "first-name": "foo",
                        "last-name": "bar",
                        "email": "foo.bar@outlook.de",
                        "telegramnummer": "string",
                        "password": "pa$$word",
                        "user-type": {
                          "value": "jyjn"
                        },
                        "account-state": {
                          "value": "activ"
                        },
                        "created-at": "2021-10-10",
                        "updated-at": "2021-10-10"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Jyjn.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-jyjns-jyjn_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "jyjn_id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "jyjn_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the profile of this jyjn",
        "tags": [
          "jyjn"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-jyjns-jyjn_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "jyjn_id"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "jyjn_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update the profile information of this jyjn",
        "tags": [
          "jyjn"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "put-jyjns-jyjn_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Jyjn.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "jy-id": 1,
                    "information": {
                      "id": 1,
                      "scj-id": "0000000000000",
                      "first-name": "foo",
                      "last-name": "bar",
                      "email": "foo.bar@outlook.de",
                      "telegramnummer": "string",
                      "password": "pa$$word",
                      "user-type": {
                        "value": "jyjn"
                      },
                      "account-state": {
                        "value": "activ"
                      },
                      "created-at": "2021-10-10",
                      "updated-at": "2021-10-10"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jyjns/{jyjn_id}/authorities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jyjn_id"
        }
      ],
      "get": {
        "summary": "Get the authorities assigned to this jyjn",
        "tags": [
          "jyjn"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Authority.yaml"
                },
                "examples": {
                  "jyjn-authorities": {
                    "value": {
                      "id": 1,
                      "type_assign_to": "jyjn",
                      "authorized_to": {
                        "delete-su": true,
                        "delete-admin": false
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-jyjns-jyjn_id-assignments-authorities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "jyjn_id"
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Assign authorities to this jyjn",
        "tags": [
          "jyjn"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-jyjns-jyjn_id-assignments-authorities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Authority.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "type_assign_to": "jyjn",
                    "authorized_to": {
                      "delete-su": true,
                      "delete-admin": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/jyjns/{jyjn_id}/sus": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jyjn_id"
        }
      ],
      "post": {
        "summary": "Assign a list of sus to this jyjn",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-jyjns-jyjn_id-sus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  },
                  "sus": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 3,
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "jyjn_id",
                  "sus"
                ]
              },
              "examples": {
                "sus": {
                  "value": {
                    "jyjn_id": 1,
                    "sus": [
                      1
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Unassign all sus assign to this jyjn",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-jyjns-jyjn_id-sus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "jyjn_id"
                ]
              },
              "examples": {
                "jyjn-id": {
                  "value": {
                    "jyjn_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all the sus assign to this jyjn",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "../models/Su.yaml"
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 1,
                        "status": {
                          "value": "new"
                        },
                        "created-at": "2021-10-10",
                        "updated-at": "2021-10-10"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-jyjns-jyjn_id-sus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "jyjn_id"
                ]
              },
              "examples": {
                "jyjn-id": {
                  "value": {
                    "jyjn_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Assign or unassign a list of sus to this jyjn",
        "operationId": "put-jyjns-jyjn_id-sus",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jyjn_id": {
                    "type": "integer"
                  },
                  "sus": {
                    "type": "array",
                    "maxItems": 4,
                    "minItems": 1,
                    "items": {
                      "type": "integer"
                    }
                  }
                },
                "required": [
                  "jyjn_id",
                  "sus"
                ]
              },
              "examples": {
                "sus": {
                  "value": {
                    "jyjn_id": 1,
                    "sus": [
                      1,
                      2,
                      3
                    ]
                  }
                }
              }
            }
          },
          "description": ""
        },
        "parameters": []
      }
    },
    "/sus/{su_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/su_id"
        }
      ],
      "delete": {
        "summary": "Delete this su from the system",
        "tags": [
          "su",
          ""
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-sus-su_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "su_id"
                ]
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update profile information of this su",
        "tags": [
          "su",
          ""
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "put-sus-su_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Su.yaml"
              },
              "examples": {
                "su": {
                  "value": {
                    "id": 1,
                    "status": {
                      "value": "new"
                    },
                    "created-at": "2021-10-10",
                    "updated-at": "2021-10-10"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/sus/{su_id}/saints": {
      "parameters": [
        {
          "$ref": "#/components/parameters/su_id"
        }
      ],
      "delete": {
        "summary": "Delete the saint assign to this su",
        "tags": [
          "su",
          ""
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 0,
                      "deleted": "jyjn",
                      "message": "Delete completed",
                      "detailed_information": ""
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "delete-saints-su_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "su_id"
                ]
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": [
                      "string",
                      "integer"
                    ]
                  }
                },
                "required": [
                  "su_id"
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": []
      },
      "get": {
        "summary": "Get the saint assign to this su",
        "operationId": "get-sus-su_id-saints",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Saint.yaml"
                },
                "examples": {
                  "saint": {
                    "value": {
                      "id": 1,
                      "information": {
                        "id": 1,
                        "scj-id": "0000000000000",
                        "first-name": "foo",
                        "last-name": "bar",
                        "email": "foo.bar@outlook.de",
                        "telegramnummer": "string",
                        "password": "pa$$word",
                        "user-type": {
                          "value": "saint"
                        },
                        "account-state": {
                          "value": "activ"
                        },
                        "created-at": "2021-10-10",
                        "updated-at": "2021-10-10"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "su_id"
                ]
              }
            }
          }
        }
      }
    },
    "/saints/{saint_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/saint_id"
        }
      ],
      "delete": {
        "summary": "Delete this saint profile from the system",
        "tags": [
          "su",
          ""
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "operationId": "delete-saints-saint_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "saint_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "saint_id"
                ]
              }
            }
          }
        },
        "description": ""
      },
      "put": {
        "summary": "Update this saint profile information",
        "operationId": "put-saints-saint_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Error.yaml"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Saint.yaml"
              },
              "examples": {
                "saint": {
                  "value": {
                    "id": 1,
                    "information": {
                      "id": 1,
                      "scj-id": "0000000000000",
                      "first-name": "foo",
                      "last-name": "bar",
                      "email": "foo.bar@outlook.de",
                      "telegramnummer": "string",
                      "password": "pa$$word",
                      "user-type": {
                        "value": "saint"
                      },
                      "account-state": {
                        "value": "activ"
                      },
                      "created-at": "2021-10-10",
                      "updated-at": "2021-10-10"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sus/{su_id}/reports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/su_id"
        }
      ],
      "get": {
        "summary": "Get all the reports of this su",
        "tags": [
          "su"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 3,
                  "items": {
                    "$ref": "../models/Report.yaml"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-sus-su_id-reports",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "su_id"
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a report on this su",
        "operationId": "post-sus-su_id-reports",
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  },
                  "report": {
                    "$ref": "../models/Report.yaml"
                  }
                },
                "required": [
                  "su_id",
                  "report"
                ]
              }
            }
          }
        }
      }
    },
    "/reports/{report_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/report_id"
        }
      ],
      "put": {
        "summary": "Update this report",
        "tags": [
          "",
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "operationId": "put-reports-report_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "report": {
                    "$ref": "../models/Report.yaml"
                  }
                },
                "required": [
                  "report"
                ]
              },
              "examples": {}
            }
          }
        }
      },
      "delete": {
        "summary": "Delete this report",
        "tags": [
          "",
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-reports-report_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "report_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "report_id"
                ]
              }
            }
          }
        }
      }
    },
    "/sus/{su_id}/lifepapers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/su_id"
        }
      ],
      "get": {
        "summary": "Get the lifepaper of this su",
        "tags": [
          "lifepaper"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Lifepaper.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "first-name": "foo",
                      "last-name": "bar",
                      "age": 0,
                      "first-meeting-media": {
                        "value": "phone-call"
                      },
                      "work": "at google as software dev",
                      "school": "haward university",
                      "nationality": "french",
                      "marital-status": "single",
                      "plan-for-next-twelve-month": "CIO of the company he works at",
                      "created-at": "2021-10-10",
                      "updated-at": "2021-10-10"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-sus-su_id-lifepapers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "su_id"
                ]
              },
              "examples": {
                "su-id": {
                  "value": {
                    "su_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "",
        "operationId": "post-sus-su_id-lifepapers",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "su_id": {
                    "type": "integer"
                  },
                  "lifepaper": {
                    "$ref": "../models/Lifepaper.yaml"
                  }
                },
                "required": [
                  "su_id",
                  "lifepaper"
                ]
              }
            }
          }
        }
      }
    },
    "/lifepapers/{lifepaper_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lifepaper_id"
        }
      ],
      "put": {
        "summary": "Update this lifepaper",
        "operationId": "put-lifepapers-lifepaper_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Lifepaper.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "first-name": "foo",
                    "last-name": "bar",
                    "age": 0,
                    "first-meeting-media": {
                      "value": "phone-call"
                    },
                    "work": "at google as software dev",
                    "school": "haward university",
                    "nationality": "french",
                    "marital-status": "single",
                    "plan-for-next-twelve-month": "CIO of the company he works at",
                    "created-at": "2021-10-10",
                    "updated-at": "2021-10-10"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "",
        "operationId": "delete-lifepapers-lifepaper_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "lifepaper_id"
                ]
              }
            }
          }
        }
      }
    },
    "/lifepapers/{lifepaper_id}/mentors": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lifepaper_id"
        }
      ],
      "post": {
        "summary": "Create a mentor on this lifepaper",
        "tags": [
          "mentor"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-lifepapers-lifepaper_id-mentors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  },
                  "mentor": {
                    "$ref": "../models/Mentor.yaml"
                  }
                },
                "required": [
                  "lifepaper_id",
                  "mentor"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "lifepaper_id": 0,
                    "mentor": {
                      "id": 1,
                      "name": "foo",
                      "relation-with-su": {
                        "value": "family"
                      },
                      "has-influence-on-su": true
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get the mentor of this lifepaper",
        "tags": [
          "mentor"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Mentor.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "name": "foo",
                      "relation-with-su": {
                        "value": "family"
                      },
                      "has-influence-on-su": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-lifepapers-lifepaper_id-mentors",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "lifepaper_id"
                ]
              },
              "examples": {
                "lifepaper-id": {
                  "value": {
                    "lifepaper_id": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mentors/{mentor_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/mentor_id"
        }
      ],
      "delete": {
        "summary": "Delete the mentor of a lifepaper",
        "tags": [
          "mentor"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-mentors-mentor_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mentor_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "mentor_id"
                ]
              },
              "examples": {
                "mentor-id": {
                  "value": {
                    "mentor_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update the mentor of a lifepaper",
        "tags": [
          "mentor"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "put-mentors-mentor_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Mentor.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "name": "foo",
                    "relation-with-su": {
                      "value": "family"
                    },
                    "has-influence-on-su": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lifepapers/{lifepaper_id}/religions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lifepaper_id"
        }
      ],
      "post": {
        "summary": "Create the religion of this lifepaper",
        "tags": [
          "religion"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-lifepapers-lifepaper_id-religions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  },
                  "religion": {
                    "$ref": "../models/Religion.yaml"
                  }
                },
                "required": [
                  "lifepaper_id",
                  "religion"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "lifepaper_id": 0,
                    "religion": {
                      "id": 1,
                      "has-faith": true,
                      "has-faith-in": "God",
                      "time-in-faith": 5,
                      "go-to-gathering": true,
                      "gathering-type": "church",
                      "religion-perception": "God loves all humans",
                      "religion": "christian"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get the religion of this lifepaper",
        "tags": [
          "religion"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Religion.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "has-faith": true,
                      "has-faith-in": "God",
                      "time-in-faith": 5,
                      "go-to-gathering": true,
                      "gathering-type": "church",
                      "religion-perception": "God loves all humans",
                      "religion": "christian"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-lifepapers-lifepaper_id-religions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "lifepaper_id"
                ]
              }
            }
          }
        }
      }
    },
    "/religions/{religion_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/religion_id"
        }
      ],
      "delete": {
        "summary": "Delete the religion of this lifepaper",
        "tags": [
          "religion"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-religions-religion_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "religion_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "religion_id"
                ]
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update the religion of this lifepaper",
        "tags": [
          "religion"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "put-religions-religion_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Religion.yaml"
              },
              "examples": {
                "religion": {
                  "value": {
                    "id": 1,
                    "has-faith": true,
                    "has-faith-in": "God",
                    "time-in-faith": 0,
                    "go-to-gathering": true,
                    "gathering-type": "church",
                    "religion-perception": "God love everyone",
                    "religion": "christian"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/lifepapers/{lifepaper_id}/extensions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lifepaper_id"
        }
      ],
      "post": {
        "summary": "Create a list of extensions on this lifepaper",
        "tags": [
          "extension"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "post-lifepapers-lifepaper_id-extensions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  },
                  "extension": {
                    "$ref": "../models/Extension.yaml"
                  }
                },
                "required": [
                  "lifepaper_id",
                  "extension"
                ]
              },
              "examples": {
                "extension": {
                  "value": {
                    "lifepaper_id": 1,
                    "extension": {
                      "id": 1,
                      "described-aspect": {
                        "value": "mental"
                      },
                      "aspect-element": {
                        "value": "mo-dislikes"
                      },
                      "description": "no description"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get all the extensions of this lifepaper",
        "tags": [
          "extension"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "minItems": 1,
                  "maxItems": 3,
                  "items": {
                    "$ref": "../models/Extension.yaml"
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 1,
                        "described-aspect": {
                          "value": "moral"
                        },
                        "aspect-element": {
                          "value": "mo-dislikes"
                        },
                        "description": "dont like social life"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-lifepapers-lifepaper_id-extensions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "lifepaper_id"
                ]
              },
              "examples": {
                "lifepaper-id": {
                  "value": {
                    "lifepaper_id": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/extensions/{extension_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/extension_id"
        }
      ],
      "delete": {
        "summary": "Delete an extension of a lifepaper",
        "tags": [
          "extension"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Delete.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "delete-extensions-extension_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extension_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "extension_id"
                ]
              },
              "examples": {
                "extension": {
                  "value": {
                    "extension_id": 1
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update an extension of a lifepaper",
        "tags": [
          "extension"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "put-extensions-extension_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Extension.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "described-aspect": {
                      "value": "moral"
                    },
                    "aspect-element": {
                      "value": "mo-dislikes"
                    },
                    "description": "dont like social life"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lifepapers/{lifepaper_id}/confidants": {
      "parameters": [
        {
          "$ref": "#/components/parameters/lifepaper_id"
        }
      ],
      "get": {
        "summary": "Get the confidant of this lifepaper",
        "tags": [
          "confidant"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Confidant.yaml"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 1,
                      "name": "foo",
                      "relation": {
                        "value": "family"
                      },
                      "note": "tell him everything"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "get-lifepapers-lifepaper_id-confidants",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "lifepaper_id"
                ]
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create the confident of this lifepaper",
        "tags": [
          "confidant"
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Creation.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "operationId": "post-lifepapers-lifepaper_id-confidants",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lifepaper_id": {
                    "type": "integer"
                  },
                  "confidant": {
                    "$ref": "../models/Confidant.yaml"
                  }
                },
                "required": [
                  "lifepaper_id",
                  "confidant"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "lifepaper_id": 0,
                    "confidant": {
                      "id": 1,
                      "name": "foo",
                      "relation": {
                        "value": "family"
                      },
                      "note": "tell him everything"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/confidants/{confidant_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/confidant_id"
        }
      ],
      "put": {
        "summary": "Update the confidant of a lifepaper",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../models/Update.yaml"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "operationId": "put-confidants-confidant_id",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../models/Confidant.yaml"
              },
              "examples": {
                "example-1": {
                  "value": {
                    "id": 1,
                    "name": "foo",
                    "relation": {
                      "value": "family"
                    },
                    "note": "tell him everything"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete the confidant of a lifepaper",
        "tags": [],
[...]
